<template>
  <div class="q-pa-md">
    <q-carousel
      arrows
      animated
      v-model="slide"
      height="90vh"
      swipeable
    >
      <q-carousel-slide v-for="slide in slides" v-bind:key="slide.title" :name="slide.id" :img-src="slide.image">
        <div class="absolute-bottom custom-caption">
          <div class="text-h2">{{ slide.title }}</div>
          <div class="text-subtitle2">{{ slide.artist }}</div>
        </div>
      </q-carousel-slide>
    </q-carousel>
    
  </div>
</template>

<script lang="ts">

import { defineComponent, ref } from 'vue';
import { DATA } from 'src/assets/data.js';


export default defineComponent({
  name: 'PageIndex',
  setup () {
    return {
      slide: ref(1),
      slides: DATA
    }
  },
  computed: {
    windowHeight() {
      return window.innerHeight;
    }
  }
})
</script>

<style lang="sass" scoped>
.custom-caption
  text-align: center
  padding: 12px
  color: white
  background-color: rgba(0, 0, 0, .3)
</style>